.textHighlighter {
  position: relative;
}
.textHighlighter::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/underline2.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.cardBg {
  background-color: rgba(255, 255, 255, 0.024);
  backdrop-filter: blur(0.5px);
}

.cardBg::after {
  z-index: -1;
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 100%;
  filter: blur(100px);
}

.cardBg:nth-child(2)::after {
  background-image: var(--mesh-gradient);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: absolute;
  top: -20px;
  left: 80px;
  background-size: 400%;
  background-position: right;
  /* animation: cardChild2 infinite alternate 25s; */
}

/* @keyframes cardChild2 {
  0% {
    background-position: left;
  }
  25% {
    background-position: top;
  }
  65% {
    background-position: bottom;
  }
  100% {
    background-position: right;
  }
} */
