@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Regular use for page */
@font-face {
  font-family: "CaveatSemi";
  src: url("/fonts/caveat/Caveat-SemiBold.ttf");
}
@font-face {
  font-family: "HubotSansReguler";
  src: url("/fonts/Hubot/HubotSans-Regular.woff2");
}
@font-face {
  font-family: "HubotSansLight";
  src: url("/fonts/Hubot/HubotSans-Light.woff2");
}
@font-face {
  font-family: "HubotSansItalic";
  src: url("/fonts/Hubot/HubotSans-Italic.woff2");
}
@font-face {
  font-family: "HubotSansBlack";
  src: url("/fonts/Hubot/HubotSans-Black.woff2");
}

/* Stroke font use for Heading */

/* navigation */
@layer base {
}

@layer components {
}
/* width */
#TIME-LINE-EXPLAIN-TREE::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
#TIME-LINE-EXPLAIN-TREE::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#TIME-LINE-EXPLAIN-TREE::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #08aeea, #2af598);
  border-radius: 10px;
}

/* Handle on hover */
#TIME-LINE-EXPLAIN-TREE::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #08aeea, #2af598);
}
