.navBg {
  background-color: rgba(210, 148, 239, 0.1);
  backdrop-filter: invert(0.5%);
}

.animatedText {
  margin: 0 0 0.5em;
  line-height: 0.8;
  margin: 0;
  color: #ee6352;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.linkText {
  transition: 0.6s;
}
.linkText:hover {
  letter-spacing: 2px;
}
