@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CaveatRegular";
  src: url("/Caveat-Regular.ttf");
}
@font-face {
  font-family: "CaveatBold";
  src: url("/Caveat-Bold.ttf");
}
@font-face {
  font-family: "CaveatMedium";
  src: url("/Caveat-Medium.ttf");
}
@font-face {
  font-family: "CaveatSemiBold";
  src: url("/public/Caveat-SemiBold.ttf");
}
@font-face {
  font-family: "JostBold";
  src: url("/Jost-Bold.ttf");
}
@font-face {
  font-family: "JostBlack";
  src: url("/Jost-Black.ttf");
}
@font-face {
  font-family: "JostSemiBold";
  src: url("/public/Jost-SemiBold.ttf");
}
@font-face {
  font-family: "JostExtraBold";
  src: url("//Jost-ExtraBold.ttf");
}
@font-face {
  font-family: "JostExtraLight";
  src: url("/Jost-ExtraLight.ttf");
}
@font-face {
  font-family: "JostMedium";
  src: url("/Jost-Medium.ttf");
}
@font-face {
  font-family: "JostRegular";
  src: url("/Jost-Regular.ttf");
}

@layer base {
  :root {
    --gradient: linear-gradient(
      45deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f,
      #f9f871
    );
    --mesh-gradient: linear-gradient(90deg, #1ac737, #fdff80, #18d6fb, #008f58);
  }
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: url("/bg.jpg"); */
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

/* own css */
.headingSection {
  /* background-color: rgba(210, 148, 239, 0.1);
  backdrop-filter: blur(2px); */
  padding: 6.9rem;
  z-index: 1 !important;
}
