@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  header {
  }
  .scroll-down header {
    transform: translate3d(0, -100%, 0);
  }
  .scroll-up header {
    filter: drop-shadow(0px -2px 2px rgba(11, 13, 49, 0.184));
  }
}

:root {
  --background: #0e0b22a5;
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  --mesh-gradient: linear-gradient(
    90deg,
    #ff008c,
    #d309e1,
    #9c1aff,
    #7700ff,
    #4400ff
  );
}

html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

.page404 {
  margin: 0 auto;
}

.lostText {
  background-image: url("/universe.webp");
  color: transparent;
  -webkit-background-clip: text;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box-shadows {
  box-shadow: 2px 6px 14px 2px #1ceac452;
}

/* navigation */
@layer base {
  .nav {
    @apply absolute top-14 right-0 bottom-0 w-[300px];
  }
  .nav-ul {
    @apply p-5 fixed top-[100px] w-[260px];
  }
  .nav-li {
    @apply flex items-center mb-5 space-x-6 cursor-pointer;
  }
  .button {
    @apply fixed border-0 outline-none focus:outline-none top-[32px] w-[50px] left-[30px] rounded-full;
  }
}

@layer components {
  .background {
    @apply bg-black fixed top-[0px] left-[0px] bottom-0 w-full;
  }
  .icon-placeholder {
    @apply w-[45px] h-[45px] rounded-full;
  }
  .text-placeholder {
    @apply flex-1 rounded-lg;
  }
}

/* Handwriting using for subtitle */
@font-face {
  font-family: "CaveatSemiBold";
  src: url("/fonts/caveat/Caveat-SemiBold.ttf");
}

/* Regular use for page */
@font-face {
  font-family: "FiraSansRegular";
  src: url("/fonts/FiraSans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansItalic";
  src: url("/fonts/FiraSans/FiraSans-Italic.ttf");
}
@font-face {
  font-family: "FiraSansMedium";
  src: url("/fonts/FiraSans/FiraSans-Medium.ttf");
}
@font-face {
  font-family: "FiraSansMediumItalic";
  src: url("/fonts/FiraSans/FiraSans-MediumItalic.ttf");
}
@font-face {
  font-family: "FiraSansSemiBold";
  src: url("/fonts/FiraSans/FiraSans-SemiBold.ttf");
}
@font-face {
  font-family: "FiraSansSemiBoldItalic";
  src: url("/fonts/FiraSans/FiraSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "FiraSansLight";
  src: url("/fonts/FiraSans/FiraSans-Light.ttf");
}
@font-face {
  font-family: "FiraSansLightItalic";
  src: url("/fonts/FiraSans/FiraSans-LightItalic.ttf");
}
@font-face {
  font-family: "FiraSansExtraLight";
  src: url("/fonts/FiraSans/FiraSans-ExtraLight.ttf");
}
@font-face {
  font-family: "FiraSansExtraLightItalic";
  src: url("/fonts/FiraSans/FiraSans-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("/fonts/FiraSans/FiraSans-Bold.ttf");
}
@font-face {
  font-family: "FiraSansBoldItalic";
  src: url("/fonts/FiraSans/FiraSans-BoldItalic.ttf");
}
@font-face {
  font-family: "FiraSansExtraBold";
  src: url("/fonts/FiraSans/FiraSans-ExtraBold.ttf");
}
@font-face {
  font-family: "FiraSansExtraBoldItalic";
  src: url("/fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "FiraSansBlack";
  src: url("/fonts/FiraSans/FiraSans-Black.ttf");
}
@font-face {
  font-family: "FiraSansBlackItalic";
  src: url("/fonts/FiraSans/FiraSans-BlackItalic.ttf");
}

/* Stroke font use for Heading */

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsBoldItalic";
  src: url("/fonts/Poppins/Poppins-BoldItalic.ttf");
}
@font-face {
  font-family: "PoppinsBlack";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
  font-family: "PoppinsBlackItalic";
  src: url("/fonts/Poppins/Poppins-BlackItalic.ttf");
}
@font-face {
  font-family: "PoppinsExtraBold";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "PoppinsExtraBoldItalic";
  src: url("/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}
