@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(
      45deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f,
      #f9f871
    );
    --mesh-gradient: linear-gradient(90deg, #1ac737, #fdff80, #18d6fb, #008f58);
  }
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-attachment: fixed; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

/* own css */
.headingSection {
  background-color: rgba(210, 148, 239, 0.1);
  backdrop-filter: blur(2px);
  padding: 6.9rem;
  z-index: 1 !important;
}
